@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-img">
    <div class="container">
        <div class="row p-top  p-bottom">

            <div class="col-8">
                <h1>@ViewBag.Hello</h1>
                <p>I'm Rita Malaquias</p>
            </div>
            <div class="col-3">
                <i class="fas fa-code big-icon"></i>
            </div>
        </div>
    </div>
</div>
<!--things about me, dunno what to talk about-->
<div class="container square">
    <h3>About</h3>
    <div class="row ">
     
            <h5>Learn a bit about me</h5>
            <p>
                I started my journey in the design area, having a degree in Multimedia and Graphic Design at ESAD.CR. I had the great opportunity to work in the videogames area, where I worked on Stellar Interface and Super Bunny Laser Spikes, mainly working as a graphic designer, animator, UX/UI and 2D artist. I've also worked on another title but it's still on development and date still to be announced.
                I also worked as a motion designer in an esports agency, Bitzer Esports.
                Now my professional journey is focused on the programming and developing software side, where I started in a program called UpSkill back in October 2020. I'm still currently learning the ropes and more will be updated here once time has traveled a bit more.
            </p>
        
       
            <h5>Interests and hobbies</h5>
            <p>
                Videogames, pixel art, illustration, 3d printing, bonsai and plants overall.
            </p>
        </div>
    </div>


<div class="container square">
    <h3>Work</h3>
    <p>
        You can check out my <a href="https://github.com/ritamalaquias">GitHub</a>
    </p>
</div>
<div class="container square">
    <h3>Contact</h3>

</div>